body{
    background-color:white;
    color: black;
}

header{
    background-color: #BBBBBB;
}

nav li{
    display: inline;
    margin-left: 5px;
}

nav a {
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}