body{
    background-color:white;
    color: black;
}

header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #C154AE;
    text-decoration: underline;
}

nav{
    position: absolute;
    top: 115px;
    right: 0;
}
 .box{
     position: relative;
     width: 940px;
     margin: 0 auto;
 }

 .product{
     width: 940px;
     margin: 0 auto;
     padding: 50px 0;
 }

 .product li{
     display: inline-block;
     text-align: center;
     width: 30%;
     vertical-align: top;
     margin: 0 1.5%;
     padding: 30px 20px;
     box-sizing: border-box;
     border: 2px solid black;
     border-radius: 10px;
 }

 .product h2{
     font-size: 30px;
     font-weight: bold;
 }

 .product-description{
     font-size: 18px;
 }

 .product-prize{
     font-size: 22px;
     font-weight: bold;
     margin-top: 10px;
 }